.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: calc(100vh - 8rem);
  padding-top: 1rem;
  gap: 1rem;
}

.gameWrapper {
  display: flex;
  flex-direction: column;
  width: 25rem;
  gap: 2rem;
}

.playerQtySelect {
  /* height: 3rem; */
  /* width: 5rem; */
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.playerQtySelect option {
  font-size: 1rem;
}

.addressInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.addressInputWrapper input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.priceInput {
  padding: 0.5rem 0.3rem;
  font-size: 1rem;
  width: 4rem;
}
.dateTimeInput {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  /* width: 10rem; */
}
.gameDescriptionInput {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  /* width: 10rem; */
}
.hostWillPlayWrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.bottomBtnWrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.addEventButton {
  width: 66%;
  height: 3rem;
  background-color: var(--color-btn-bg);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.cancelBtn {
  width: 33%;
  height: 3rem;
  background-color: var(--color-btn-bg);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.error {
  color: red;
}
