.main {
  width: 25rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid black;
  padding: 0.5rem 0.3rem;
}
.main h2 {
  text-align: center;

  height: 3.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imageWrapper {
  width: 100%;
  height: 25rem;
  position: relative;
}
.imageWrapper img {
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
}

.gameInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  font-weight: 600;
  font-size: 1.3rem;
}

.overlay {
  border: none;
}
