.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: calc(100vh - 8rem);

  padding-top: 1rem;
}
.card {
  width: 100%;
  min-height: calc(100vh - 8rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  padding: 0.5rem 0.3rem;
}
.gameInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  font-weight: 600;
  font-size: 1.3rem;
}
.imageWrapper {
  width: 40rem;
  height: 35rem;
  position: relative;
}
.imageWrapper img {
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
}

.eventWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: calc(100vh - 8rem);
  gap: 0.3rem;
  padding-top: 0.5rem;
}
.playersList {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--color-primary);
  gap: 0.3rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}
.playersListLine {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
}
.playersListLineElement {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registerBtn {
  width: 15rem;
  height: 3rem;
  background-color: var(--color-btn-bg);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.cancelBtn {
  width: 5rem;
  height: 2rem;
  background-color: var(--color-btn-bg);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}
.editBtn {
  width: 10rem;
  height: 2rem;
  background-color: var(--color-btn-bg);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  position: absolute;
  top: 6rem;
  right: 1rem;
}
.gameWrapper {
  display: flex;
  flex-direction: column;
  width: 25rem;
  gap: 2rem;
  padding-top: 1rem;
}

.playerQtySelect {
  /* height: 3rem; */
  /* width: 5rem; */
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.playerQtySelect option {
  font-size: 1rem;
}

.addressInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.addressInputWrapper input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.priceInput {
  padding: 0.5rem 0.3rem;
  font-size: 1rem;
  width: 4rem;
}
.dateTimeInput {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  /* width: 10rem; */
}
.gameDescriptionInput {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  /* width: 10rem; */
}
.hostWillPlayWrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.bottomBtnWrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.confirmEventButton {
  width: 10rem;
  height: 3rem;
  background-color: var(--color-btn-bg);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.cancelEventButton {
  width: 10rem;
  height: 3rem;
  background-color: var(--color-btn-bg);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}
.returnEventButton {
  width: 10rem;
  height: 3rem;
  background-color: var(--color-btn-bg);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.error {
  color: red;
}
.buttonWrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem 0;
}
